<a data-column="4" href={{url}} class="post">
  <figure style="background-image: url({{image}});"></figure>
  <figcaption data-flex="horizontal wrap" data-flex-items="end">
    <h1 class="align center">{{title}}</h1>
  </figcaption>
</a>