<a class="icon effect grow-rotate github" href="https://github.com/kikobeats"  target="_blank"></a>
<a class="icon effect grow-rotate twitter" href="https://twitter.com/kikobeats"  target="_blank"></a>
<a class="icon effect grow-rotate linkedin" href="https://www.linkedin.com/in/kikobeats" target="_blank"></a>
<a class="icon effect grow-rotate ghost" href="http://blog.kikobeats.com/#open" target="_blank"></a>
<a class="icon effect grow-rotate mail" href="mailto:josefrancisco.verdu@gmail.com" target="_blank"></a>